* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
}

header{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-icons {
  flex-basis: 35%;
}

.head-icons video{
  width: 300px;
  height: 300px;
}

.head-icons img{
  width: 100%;
  height: 100%;
}

.abt-head-text {
  flex-basis: 60%;
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 25px;
  border: groove 3px #00FFFF;
  padding: 10px;
  margin: 0 5%;
}

h2 {
  font-size: 40px;
  margin: 10px 10px;
}

p {
  font-size: 20px;
  margin-left: 20px;
}

.abt-sec {
  width: 90%;
  margin: 0 3%;
  border-left: 5px solid #00FFFF;
  border-radius: 12px;
  padding: 3rem 1%;
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

video {
  padding: 3%;
  width: 225px;
  height: 225px;
}



#dev-btn {
  padding: 5px;
  margin: 10px;
  border: 4px outset black;
  border-radius: 40px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.devs {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  padding: 3rem 0;
}

.devs h2 {
  white-space: nowrap;
  font-size: 0.8rem;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dev-card {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .4);
  backdrop-filter: blur(0.05);
  border: 4px inset #00FFFF;
  border-radius: 20px;
  padding: 0 20px 25px 20px;
}

.profile {
  width: 65%;
  height: 65%;
  padding-bottom: 15%;
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: ridge 3px orchid;
}

.dev-social {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
}