@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chakra+Petch&display=swap');

/*
font-family: 'Abril Fatface', cursive;
font-family: 'Chakra Petch', sans-serif;z
*/

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .3);
}

*::-webkit-scrollbar-thumb {
    background-color: #47cf73;
    border-radius: 9px;
    border: 3px double #010101;
}

.blur {
  filter: blur(3px);
  opacity: .5;
  transform: scale(.98);
}

h1, h2 {
  font-family: 'Abril Fatface', cursive;
  color: white;
}

h3, p {
  font-family: 'Chakra Petch', sans-serif;
  color: white;
}

body {
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  overflow-x: hidden;
}

#nav-logo {
  width: 50px;
  height: 50px;
  scale: 1.4;
  margin-left: 10px;
}

nav {
  position: fixed;
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-size: 20px;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 2s ease;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  transition: color 0.9s ease-in-out;
}

a:hover {
  color: #00FFFF;
}


.ctg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-container {
  cursor: grabbing;
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  padding: 50px 0;
  margin: 10px 0;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.ctg-subtitle {
  position: absolute;
  top: 3%;
  left: 2%;
}

.ctg-card {
  min-width: 150px;
  height: 150px;
  margin: 25px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  white-space: nowrap;
  font-weight: bold;
  border: 5px double #00FFFF;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, .3);
  transition: .5s all;
}

.ctg-card i {
  font-size: 60px;
  color: black;
}

.ctg-title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  color: white;
}

.foot-container {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

#foot-logo {
  width: 100px;
  height: 100px;
}

.foot1 {
  width: 30%;
  display: flex;
}

.foot2 {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot2 ul {
  list-style: none;
}

.foot2 li {
  padding: 5px;
}

.foot3 {
  width: 30%;
}

footer p {
  text-align: center;
  padding: 10px 0;
}

label {
  color: white;
}

form input,
form textarea {
  color: white;
  width: 80%;
  padding: 10px 0;
  border: 0;
  font-size: 12px;
  background-color: #333;
  border: 2px outset #00FFFF;
  border-radius: 12px;
}

form textarea {
  width: 100%;
  height: 80%;
}

.form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn {
  padding: 1em 1em;
  width: 40%;
  border-left: #00FFFF solid 4px;
  border-right: #00FFFF solid 4px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, .8);
  color: white;
}

.ctg-banner {
  margin: 5% 0;
  position: relative;
  width: 100%;
  height: 20vh;
}

.banner-img {
  filter: brightness(0.6);
  border-radius: 25px;
  height: 100%;
  width: 80%;
  object-fit: cover;
  margin: 0% auto;
  display: block;
  border: 5px solid #00FFFF;
}

.banner-title {
  color: #00FFFF;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
