* {
  margin: 0;
  padding: 0;
}

.ctg-title {
  padding-top: 5%;
}

.filter i {
  margin-right: 20px;
  transform: scaleX(-1);
}

.filter {
  font-size: 40px;
  position: relative;
}

.search {
  margin-right: 20px;
}

.search i {
  font-size: 30px;
}

input[type="text"] {
  margin: 10px;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}